{% extends 'base.html.twig' %}

{% block title %}Symfony Social oAuth App!{% endblock %}

{% block body %}

<div>
    <h1>Symfony Social oAuth App ! ✅</h1>

    {% if app.user %}
        <div class="mb-3">
            You are logged in as <strong>{{ app.user.username }}</strong>, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
    <div class="mb-3">
        <a href="{{ path('app_login') }}">Login</a>
    </div>
    {% endif %}
</div>
{% endblock %}
