parameters:
    level: 8
    paths:
        - src
        - tests
    excludes_analyse:
        - src/Migrations/*
        - tests/bootstrap.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
